@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewData["Title"] = "Index";
}



@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Add New Todo Item</a>
    </p>

    <h3>Tasks Completed (Last 24 hours)</h3>
    <table id="tableText" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoneDate)
                </th>
                <th></th>
            </tr>
        </thead>
        @* Table for items complete in the last 24 hours *@
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Done && (item.DoneDate > DateTime.Now.AddHours(-24) && item.DoneDate < DateTime.Now))
                {
                    @*@if (item.Done || !item.Done) {*@
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoneDate)
                        </td>
                        @if (item.Done)
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TodoItemID">Edit</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TodoItemID">Edit</a> |
                                <a asp-action="Done" asp-route-id="@item.TodoItemID">Done</a> |
                                <a asp-action="Delete" asp-route-id="@item.TodoItemID">Delete</a>
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>

    <h3>Upcoming (Next 24 hours)</h3>

    <table id="tableText" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoneDate)
                </th>
                <th></th>
            </tr>
        </thead>
        @* Table for items due in the next 24 hours *@
        <tbody>
            @foreach (var item in Model)
            {
                @if (!item.Done && (item.DoneDate > DateTime.Now.AddHours(+24) && item.DoneDate < DateTime.Now) || item.DoneDate == null)
                {
                    @*@if (item.Done || !item.Done) {*@
                    <tr>
                        <td id="dueTitle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoneDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TodoItemID">Edit</a> |
                            <a asp-action="Done" asp-route-id="@item.TodoItemID">Done</a> |
                            <a asp-action="Delete" asp-route-id="@item.TodoItemID">Delete</a>
                            <input type="button" hidden id="copyToClipboard" value="Copy title" />

                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <dialog id="clipboardPerms">
        <h2>Permissions required to save item title to clipboard</h2>
    </dialog>
}
else
{
    <div id="homeText" class="text-center">
        <h1 class="display-4">Todo Tracking App</h1>
        <p>Register or sign in to start tracking and completing tasks!</p>
    </div>
}
